name: GitHub Pages

on:
  push:
    branches:
    - main

jobs:
  build:
    name: Build Documentation
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - uses: leafo/gh-actions-lua@v8.0.0

    - name: Setup illuaminate
      run: |
        test -d bin || mkdir bin
        test -f bin/illuaminate || wget -q -Obin/illuaminate https://squiddev.cc/illuaminate/linux-x86-64/illuaminate
        chmod +x bin/illuaminate

    - name: Generate documentation
      run: |
        python3 ./todo.py ${GITHUB_SHA}
        bin/illuaminate doc-gen

    - name: Deploy
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./build/docs/lua
        force_orphan: true
        commit_message: Build for
